@model IEnumerable<Portal.Model.UserModels.ViewModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Administrator.cshtml";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">Users List</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        FirstName
                    </th>
                    <th>
                        LastName
                    </th>
                    <th>
                        Eamil
                    </th>
                    </thead>
                    <tbody>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.FirstName
                                </td>
                                <td>
                                    @item.LastName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @if (item.Blocked)
                                    {
                                        <p class="text-danger">blocked</p>
                                    }
                                    else
                                    {
                                        <p class="text-success">active</p>
                                    }
                                </td>
                                <td>
                                <td>


                                    @if (item.Blocked)
                                    {
                                        @Html.ActionLink("unblock", "Unblock", new { userId = item.Id }, new { @class = "btn bnt-primary btn-sm" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("block", "Block", new { userId = item.Id }, new { @class = "btn bnt-danger btn-sm" }) 
                                        
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <p>
                <a asp-action="CreateAdmin" class="btn btn-success btn-sm">New User</a>
            </p>
        </div>

    </div>
</div>



